<section id="experience">
  <div class="container">
    <h2 class="section-heading">cat experience.yml</h2>
    <div class="timeline">
      {% for job in site.data.experience %}
      <div class="timeline__item">
        <div class="timeline__period">{{ job.period }}</div>
        <div class="timeline__title">{{ job.title }}</div>
        <div class="timeline__company">{{ job.company }}</div>
        <ul class="timeline__highlights">
          {% for highlight in job.highlights %}
          <li>{{ highlight }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
